body{
    margin: 0;
}
form{
    
}
.container{
    height: 100vh;
    background: #D0B792;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.authSubmit{
    background: #F5E9CF;
    border-radius: 10px;
}

