body {
    margin: 0;
    background-color: #F8F8F8;
}

h2,h3, h4, h5{
    margin: 0;
    padding: 5px 0;
}

.roading{
    display: flex;
    justify-content: center;
    padding-top: 42.4vh;
    color: #eeeeee;
}
.container {
    height: 100vh;
    background:  #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

input{
    border-radius: 10px;
    border-width: 1px;
}

.home {
    height: 100vh;
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 80vw;
}

#root {
    background-color: #F8F8F8;

}

.authSubmit {
    background: #1d9bf0;
    border-radius: 10px;
    
}

button {
    border-radius: 5px;
    border-width: 0px;
}


nav{
    /* padding: 14.3px 150px; */
    padding: 0px 150px;
    background-color: #2080E1;
    
    margin: 0;
}

.nav {
    
    
    justify-content: space-around;
    align-self: center;
}

ul {
    height: 52.16px;
    display: flex;
    justify-content: space-around; 
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #2080E1;
    
    
}

a{
    height: 49px;
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* color: #555555; */
    color: #F8F8F8;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
    text-decoration: none;
    align-items: center;
    align-self: center;
}

.dnsImage{
    width: 200px;
}

.dnsImage2{
    width: 70px;
}

.navDns{
    display: flex;
    position: absolute;
    left: 3%;
    top: 1.5%;
    /* align-content: center; */
    margin: 0;
    padding: 0;
}


/* .selectNav:focus-visible {
    border-bottom: 2px solid #F8F8F8;
    text-decoration: underline;
    color: #F8F8F8;
  }
   */
/* li:focus{
    
    border-bottom: 2px solid #F8F8F8;

} */

.selected{
    
    border-bottom: 3px solid #F8F8F8;

}

div.blank{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20vw;
    height: 10vh;
    padding: 1em;
    padding-top: 1em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgb(0 0 0 / 2%);
    display: flex;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    align-items: center;
    justify-content: center;

}
li {
    display: flex;
}

.tlstprud {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 50vw;
    height: 70vh;
    padding: 1em;
    padding-top: 1em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgb(0 0 0 / 2%);
    display: block;
    max-height: calc(100vh - 210px);
    overflow-y: auto;


}



::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

h4::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px;
}
div::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px;
}
.prevent-overflow::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background-color: #E8E8E8;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #1E1E1E;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1E1E1E;
}

::-webkit-scrollbar-thumb:active {
    background: #1E1E1E;
}

::-webkit-scrollbar-button {
    display: none;
}



.btSiteName {
    display: flex;
}

.siteName {
    display: flex;
    color:#2A2A2A ;
}

.divSiteName {
    flex-direction: row;
}

/* .divX{
    position: fixed;
    height: 100px;
} */

.btModal {
    position: absolute;
    top: 10px;
    right: 30px;
    
    /* position: fixed; */
    /* left: 73.5vw; */
    background-color:  rgba(255, 255, 255, 0);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 42px; */
    grid-auto-rows: 42px;
    /* border-color: #E8E8E8; */
    /* border-radius: 5px; */
    /* place-items: center; */
    /* align-items: center; */
}


.outGrid{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(50%, 50%));
    grid-auto-rows: 1fr;
    /* grid-auto-rows: 1fr; */
    /* place-items: center; */
    /* gap:0; */
    /* white-space: nowrap; */
}

.Yara{
    display: grid;
    grid-template-columns:  minmax(50%, 50%) minmax(50%, 50%);
    grid-auto-rows: 1fr;
    
}

.item{
    border: 1px solid #ffffff;
    display: flex;
    padding-right: 5px;
    /* background-color: #6868681c; */
    white-space: nowrap;

}

.prevent-overflow {
    overflow-x: auto;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }

.stGrid{
    display: grid;
    grid-template-columns:  minmax(50%, 50%) minmax(50%, 50%);
    grid-auto-rows: 1fr;
}

div.item{
    align-items: center;
}

h4.title{
    display: flex;
    grid-column: span 2;
    justify-content: center;
    background-color:  #879FED;
    color:#F8F8F8 ;
    
    /* background-color: #68686838; */
    align-items: center;
}

h4.item{
    background-color:  #879FED;
    color:#F8F8F8 ;
}

.btModal h1{
    color: #faf5f5;
}
.noData{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tlstprud.on {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s;
}

.btLogOut{
    display: flex;
    border: none;
    position: absolute;
    right: 20px;
    top: 18px;
    background-color: #2080E1;
    color: #e3dede;
}

.btLogOut:hover{
    background-color: #1d9bf0;
}

button:hover{
    cursor: pointer;
}

